<ul id="stock-list" class="space-y-2">
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ADANIENT">ADANIENT</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ADANIGREEN">ADANIGREEN</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ADANIPORTS">ADANIPORTS</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ADANITRANS">ADANITRANS</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="AMBUJACEM">AMBUJACEM</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="APOLLOHOSP">APOLLOHOSP</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ASIANPAINT">ASIANPAINT</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="AXISBANK">AXISBANK</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BAJAJ-AUTO">BAJAJ-AUTO</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BAJAJFINSV">BAJAJFINSV</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BAJFINANCE">BAJFINANCE</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BANDHANBNK">BANDHANBNK</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BHARTIARTL">BHARTIARTL</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BPCL">BPCL</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="BRITANNIA">BRITANNIA</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="CIPLA">CIPLA</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="COALINDIA">COALINDIA</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="COLPAL">COLPAL</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="DABUR">DABUR</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="DIVISLAB">DIVISLAB</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="DMART">DMART</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="DRREDDY">DRREDDY</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="EICHERMOT">EICHERMOT</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="GAIL">GAIL</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="GRASIM">GRASIM</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HAVELLS">HAVELLS</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HCLTECH">HCLTECH</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HDFC">HDFC</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HDFCAMC">HDFCAMC</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HDFCBANK">HDFCBANK</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HDFCLIFE">HDFCLIFE</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HEROMOTOCO">HEROMOTOCO</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HINDALCO">HINDALCO</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="HINDUNILVR">HINDUNILVR</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ICICIBANK">ICICIBANK</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ITC">ITC</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="INFY">INFY</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="JSWSTEEL">JSWSTEEL</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="KOTAKBANK">KOTAKBANK</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="LT">LT</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="LTI">LTI</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="M&M">M&M</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="M&MFIN">M&MFIN</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="MARICO">MARICO</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="MCDOWELL-N">MCDOWELL-N</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="MINDTREE">MINDTREE</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="NESTLEIND">NESTLEIND</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="NTPC">NTPC</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ONGC">ONGC</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="POWERGRID">POWERGRID</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="RELIANCE">RELIANCE</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="SBIN">SBIN</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="SUNPHARMA">SUNPHARMA</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="TATAMOTORS">TATAMOTORS</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="TATASTEEL">TATASTEEL</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="TECHM">TECHM</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="ULTRACEMCO">ULTRACEMCO</li>
    <li class="stock-item cursor-pointer hover:bg-blue-200 p-2 rounded" data-symbol="WIPRO">WIPRO</li>
</ul>
